body {
  background: linear-gradient(#65327a, #9198e5);
}

button {
  border: 0;
  border-radius: 5px;
  background-color: #9198e5;
  padding: 8px 12px;
}

button:hover {
  background-color: #65327a;
  color: white;
}

input {
  padding: 10px;
}

select {
  padding: 10px;
}

.jumbotron {
  background: url(https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  text-align: center;
}

.table th {
  border-radius: 5px;
  background-color: #9198e5;
}

.table th:hover {
  cursor: pointer;
  background-color: #65327a;
  color: white;
}

.pagination button {
  padding: 5px 10px;
  margin: 10px;
}

.pagination .active {
  background-color: #65327a;
  color: white;
}

.footer {
  position: sticky;
  bottom: 0;
}
